# AWS Configuration
VITE_AWS_REGION=ap-northeast-1
VITE_MODE=development

# Cognito Configuration
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=

# DynamoDB Tables
VITE_DYNAMODB_VIEWER_INFO_TABLE=viewer_info
VITE_DYNAMODB_PRESET_INFO_TABLE=preset_info
VITE_DYNAMODB_SIMULATION_RESERVE_TABLE=simulation_reserve

# S3 Configuration
VITE_S3_BUCKET_NAME=

# API Configuration (for future use)
VITE_API_ENDPOINT=

# Simulation API Configuration
VITE_SIMULATION_API_ENDPOINT=your-api-end-point-here
VITE_SIMULATION_API_KEY=your-api-key-here
